/* 
////////////////////////////////////////////////////////
//////////////  SIGN IN  //////////////
////////////////////////////////////////////////////////
*/

.react-root .relative {
    position: relative;
}
.react-root .flex-grow-1 {
    flex-grow: 1;
}
.react-root .justify-center {
    justify-content: center;
}
.react-root .flex {
    display: flex;
}
.protect-account-layout .content-wrapper {
    padding: 80px 0;
    background: #fff;
}
.react-root div, .react-root li, .react-root ol, .react-root p, .react-root ul {
    font: 300 .9375rem/1.4 var(--special-font),Celias Regular,Helvetica,Arial;
}
.react-root .border-box, .react-root a, .react-root article, .react-root aside, .react-root blockquote, .react-root body, .react-root code, .react-root dd, .react-root div, .react-root dl, .react-root dt, .react-root fieldset, .react-root figcaption, .react-root figure, .react-root footer, .react-root form, .react-root h1, .react-root h2, .react-root h3, .react-root h4, .react-root h5, .react-root h6, .react-root header, .react-root html, .react-root input[type="email"], .react-root input[type="number"], .react-root input[type="password"], .react-root input[type="tel"], .react-root input[type="text"], .react-root input[type="url"], .react-root legend, .react-root li, .react-root main, .react-root nav, .react-root ol, .react-root p, .react-root pre, .react-root section, .react-root table, .react-root td, .react-root textarea, .react-root th, .react-root tr, .react-root ul {
    box-sizing: border-box;
}
.protect-account-layout div {
    line-height: 1em;
}
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.protect-account-layout {
    font-family: var(--special-font),Celias Regular,Helvetica,Arial;
}
.protect-account-layout .content-wrapper .content {
    max-width: 400px;
}
.react-root .w-100 {
    width: 100%;
}
.react-root .flex-column {
    flex-direction: column;
}
.protect-account-layout .content-wrapper .content .header {
    font-size: 2rem;
    color: #5841d8;
    font-family: var(--special-font-bold),Celias Bold,Helvetica,Arial;
}
.react-root .mb20, .react-root .mv20 {
    margin-bottom: 1.25rem;
}
.react-root .header {
    padding-top: unset;
}
.login-form {
    width: 400px;
}
.react-root button, .react-root input {
    overflow: visible;
}
.react-root button, .react-root input, .react-root optgroup, .react-root select, .react-root textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.react-root .mb20, .react-root .mv20 {
    margin-bottom: 1.25rem;
}
.react-root .justify-center {
    justify-content: center;
}
.react-root .mb10, .react-root .mv10 {
    margin-bottom: .625rem;
}
.react-root .dib {
    display: inline-block;
}
.react-root .ba {
    border-style: solid;
    border-width: 1px;
}
.input.dirty, .input.disabled {
    border-color: #656565;
}
.password-input .visibility-toggle:hover {
    color: #8a8a8a;
}
.react-root .f5x {
    font-size: 1.125rem;
}
.react-root :active, .react-root :focus, .react-root :hover {
    outline: none;
}
.react-root .z-1 {
    z-index: 1;
}
.react-root .bg-transparent {
    background-color: transparent;
}
.react-root .absolute {
    position: absolute;
}
.react-root .right-0 {
    right: 0;
}
.react-root .top-0 {
    top: 0;
}
.react-root .bn {
    border-style: none;
    border-width: 0;
}
.password-input .visibility-toggle {
    height: 3.125rem;
    color: #b7b7b7;
    padding-right: 13px;
}
.react-root button, .react-root select {
    text-transform: none;
}
.react-root button, .react-root input {
    overflow: visible;
}
.react-root button, .react-root input, .react-root optgroup, .react-root select, .react-root textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
eye::before {
    content: "\f06e";
}
.fa, .fas {
    font-weight: 900;
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.react-root [type="button"]::-moz-focus-inner, .react-root [type="reset"]::-moz-focus-inner, .react-root [type="submit"]::-moz-focus-inner, .react-root button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
}
.react-root .button.active, .react-root .button.starboard.maintain-style.active, .react-root .button.starboard.maintain-style:active, .react-root .button.starboard.maintain-style:focus, .react-root .button.starboard.maintain-style:hover, .react-root .button:active, .react-root .button:focus, .react-root .button:hover {
    background-color: #41309e;
}
.react-root .button, .react-root .button.starboard.maintain-style {
    line-height: 1 !important;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0 1.25rem;
    height: 3.125rem;
    background-color: #5841d8;
}
.protect-account-layout button.submit {
    border-radius: 50px !important;
}
.react-root :active, .react-root :focus, .react-root :hover {
    outline: none;
}
.react-root .w-100 {
    width: 100%;
}
.react-root .fw4 {
    font-weight: 400;
}
.react-root .di {
    display: inline;
}
.react-root [type="button"], .react-root [type="reset"], .react-root [type="submit"], .react-root button {
    -webkit-appearance: button;
}
.react-root button, .react-root select {
    text-transform: none;
}
.react-root button, .react-root input {
    overflow: visible;
}
.react-root button, .react-root input, .react-root optgroup, .react-root select, .react-root textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button, input, select, textarea {
    font-family: var(--special-font),Celias Regular,Helvetica,Arial;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        font-family: inherit;
    color: inherit;
}
.react-root .justify-center {
    justify-content: center;
}
.react-root .flex {
    display: flex;
}
.login-form .self-service-links {
    color: #707070;
}
.react-root div, .react-root li, .react-root ol, .react-root p, .react-root ul {
    font: 300 .9375rem/1.4 var(--special-font),Celias Regular,Helvetica,Arial;
}
.login-form .self-service-links .self-service-link {
    background: none;
    border: none;
}
.react-root .brand-color {
    color: #5841d8;
}
.react-root .underline {
    text-decoration: underline;
}
.react-root .flex {
    display: flex;
}
.react-root button, .react-root input, .react-root optgroup, .react-root select, .react-root textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.react-root .brand-color {
    color: #5841d8;
}
.input .uneditable-input.dirty ~ .form-label, .input .uneditable-input:focus ~ .form-label, .input input[type="color"].dirty ~ .form-label, .input input[type="color"]:focus ~ .form-label, .input input[type="date"].dirty ~ .form-label, .input input[type="date"]:focus ~ .form-label, .input input[type="datetime-local"].dirty ~ .form-label, .input input[type="datetime-local"]:focus ~ .form-label, .input input[type="datetime"].dirty ~ .form-label, .input input[type="datetime"]:focus ~ .form-label, .input input[type="email"].dirty ~ .form-label, .input input[type="email"]:focus ~ .form-label, .input input[type="month"].dirty ~ .form-label, .input input[type="month"]:focus ~ .form-label, .input input[type="number"].dirty ~ .form-label, .input input[type="number"]:focus ~ .form-label, .input input[type="password"].dirty ~ .form-label, .input input[type="password"]:focus ~ .form-label, .input input[type="search"].dirty ~ .form-label, .input input[type="search"]:focus ~ .form-label, .input input[type="tel"].dirty ~ .form-label, .input input[type="tel"]:focus ~ .form-label, .input input[type="text"].dirty ~ .form-label, .input input[type="text"]:focus ~ .form-label, .input input[type="time"].dirty ~ .form-label, .input input[type="time"]:focus ~ .form-label, .input input[type="url"].dirty ~ .form-label, .input input[type="url"]:focus ~ .form-label, .input input[type="week"].dirty ~ .form-label, .input input[type="week"]:focus ~ .form-label, .input textarea.dirty ~ .form-label, .input textarea:focus ~ .form-label {
    color: #41309e;
}
.input .uneditable-input.dirty ~ label, .input .uneditable-input:focus ~ label, .input input[type="color"].dirty ~ label, .input input[type="color"]:focus ~ label, .input input[type="date"].dirty ~ label, .input input[type="date"]:focus ~ label, .input input[type="datetime-local"].dirty ~ label, .input input[type="datetime-local"]:focus ~ label, .input input[type="datetime"].dirty ~ label, .input input[type="datetime"]:focus ~ label, .input input[type="email"].dirty ~ label, .input input[type="email"]:focus ~ label, .input input[type="month"].dirty ~ label, .input input[type="month"]:focus ~ label, .input input[type="number"].dirty ~ label, .input input[type="number"]:focus ~ label, .input input[type="password"].dirty ~ label, .input input[type="password"]:focus ~ label, .input input[type="search"].dirty ~ label, .input input[type="search"]:focus ~ label, .input input[type="tel"].dirty ~ label, .input input[type="tel"]:focus ~ label, .input input[type="text"].dirty ~ label, .input input[type="text"]:focus ~ label, .input input[type="time"].dirty ~ label, .input input[type="time"]:focus ~ label, .input input[type="url"].dirty ~ label, .input input[type="url"]:focus ~ label, .input input[type="week"].dirty ~ label, .input input[type="week"]:focus ~ label, .input textarea.dirty ~ label, .input textarea:focus ~ label {
    font-weight: 500;
    top: -.875rem;
}
.react-root .f5 {
    font-size: 1rem;
}
.react-root .nowrap {
    white-space: nowrap;
}
.react-root .ma0 {
    margin: 0;
}
.react-root .absolute {
    position: absolute;
}
.react-root .h1 {
    height: 1rem;
}
.input label {
    line-height: 3.125rem;
    color: #959595;
    cursor: text;
    transition: all .1s ease;
    left: .9375rem;
}
.input .uneditable-input.dirty ~ label span, .input .uneditable-input:focus ~ label span, .input input[type="color"].dirty ~ label span, .input input[type="color"]:focus ~ label span, .input input[type="date"].dirty ~ label span, .input input[type="date"]:focus ~ label span, .input input[type="datetime-local"].dirty ~ label span, .input input[type="datetime-local"]:focus ~ label span, .input input[type="datetime"].dirty ~ label span, .input input[type="datetime"]:focus ~ label span, .input input[type="email"].dirty ~ label span, .input input[type="email"]:focus ~ label span, .input input[type="month"].dirty ~ label span, .input input[type="month"]:focus ~ label span, .input input[type="number"].dirty ~ label span, .input input[type="number"]:focus ~ label span, .input input[type="password"].dirty ~ label span, .input input[type="password"]:focus ~ label span, .input input[type="search"].dirty ~ label span, .input input[type="search"]:focus ~ label span, .input input[type="tel"].dirty ~ label span, .input input[type="tel"]:focus ~ label span, .input input[type="text"].dirty ~ label span, .input input[type="text"]:focus ~ label span, .input input[type="time"].dirty ~ label span, .input input[type="time"]:focus ~ label span, .input input[type="url"].dirty ~ label span, .input input[type="url"]:focus ~ label span, .input input[type="week"].dirty ~ label span, .input input[type="week"]:focus ~ label span, .input textarea.dirty ~ label span, .input textarea:focus ~ label span {
    font-size: .625rem;
}
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input .uneditable-input.dirty ~ .form-label, .input .uneditable-input:focus ~ .form-label, .input input[type="color"].dirty ~ .form-label, .input input[type="color"]:focus ~ .form-label, .input input[type="date"].dirty ~ .form-label, .input input[type="date"]:focus ~ .form-label, .input input[type="datetime-local"].dirty ~ .form-label, .input input[type="datetime-local"]:focus ~ .form-label, .input input[type="datetime"].dirty ~ .form-label, .input input[type="datetime"]:focus ~ .form-label, .input input[type="email"].dirty ~ .form-label, .input input[type="email"]:focus ~ .form-label, .input input[type="month"].dirty ~ .form-label, .input input[type="month"]:focus ~ .form-label, .input input[type="number"].dirty ~ .form-label, .input input[type="number"]:focus ~ .form-label, .input input[type="password"].dirty ~ .form-label, .input input[type="password"]:focus ~ .form-label, .input input[type="search"].dirty ~ .form-label, .input input[type="search"]:focus ~ .form-label, .input input[type="tel"].dirty ~ .form-label, .input input[type="tel"]:focus ~ .form-label, .input input[type="text"].dirty ~ .form-label, .input input[type="text"]:focus ~ .form-label, .input input[type="time"].dirty ~ .form-label, .input input[type="time"]:focus ~ .form-label, .input input[type="url"].dirty ~ .form-label, .input input[type="url"]:focus ~ .form-label, .input input[type="week"].dirty ~ .form-label, .input input[type="week"]:focus ~ .form-label, .input textarea.dirty ~ .form-label, .input textarea:focus ~ .form-label {
    color: #41309e;
}
.input .uneditable-input.dirty ~ label, .input .uneditable-input:focus ~ label, .input input[type="color"].dirty ~ label, .input input[type="color"]:focus ~ label, .input input[type="date"].dirty ~ label, .input input[type="date"]:focus ~ label, .input input[type="datetime-local"].dirty ~ label, .input input[type="datetime-local"]:focus ~ label, .input input[type="datetime"].dirty ~ label, .input input[type="datetime"]:focus ~ label, .input input[type="email"].dirty ~ label, .input input[type="email"]:focus ~ label, .input input[type="month"].dirty ~ label, .input input[type="month"]:focus ~ label, .input input[type="number"].dirty ~ label, .input input[type="number"]:focus ~ label, .input input[type="password"].dirty ~ label, .input input[type="password"]:focus ~ label, .input input[type="search"].dirty ~ label, .input input[type="search"]:focus ~ label, .input input[type="tel"].dirty ~ label, .input input[type="tel"]:focus ~ label, .input input[type="text"].dirty ~ label, .input input[type="text"]:focus ~ label, .input input[type="time"].dirty ~ label, .input input[type="time"]:focus ~ label, .input input[type="url"].dirty ~ label, .input input[type="url"]:focus ~ label, .input input[type="week"].dirty ~ label, .input input[type="week"]:focus ~ label, .input textarea.dirty ~ label, .input textarea:focus ~ label {
    font-weight: 500;
}
.react-root .f5 {
    font-size: 1rem;
}
.react-root .nowrap {
    white-space: nowrap;
}
.input label {
    line-height: 3.125rem;
    color: #959595;
    cursor: text;
}
.react-root .overflow-hidden {
    overflow: hidden;
}
.react-root .w-100 {
    width: 100%;
}
.react-root .items-center {
    align-items: center;
}
.react-root .flex {
    display: flex;
}
.react-root .dib {
    display: inline-block;
}
.react-root .ba {
    border-style: solid;
    border-width: 1px;
}
.input.dirty, .input.disabled {
    border-color: #656565;
}
.input .uneditable-input, .input input[type="color"], .input input[type="date"], .input input[type="datetime-local"], .input input[type="datetime"], .input input[type="email"], .input input[type="month"], .input input[type="number"], .input input[type="password"], .input input[type="search"], .input input[type="tel"], .input input[type="text"], .input input[type="time"], .input input[type="url"], .input input[type="week"], .input textarea {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 3rem;
    margin-bottom: 0;
    font-size: .9375rem;
    background: transparent;
    color: #333;
    padding: .625rem 0 0 .9375rem;
    box-shadow: none;
    border: none;
}
/* 
////////////////////////////////////////////////////////
//////////////  SIGN-UP  //////////////
////////////////////////////////////////////////////////
*/

.react-root div, .react-root li, .react-root ol, .react-root p, .react-root ul {
    font: 300 .9375rem/1.4 var(--special-font),Celias Regular,Helvetica,Arial;
}
.react-root .border-box, .react-root a, .react-root article, .react-root aside, .react-root blockquote, .react-root body, .react-root code, .react-root dd, .react-root div, .react-root dl, .react-root dt, .react-root fieldset, .react-root figcaption, .react-root figure, .react-root footer, .react-root form, .react-root h1, .react-root h2, .react-root h3, .react-root h4, .react-root h5, .react-root h6, .react-root header, .react-root html, .react-root input[type="email"], .react-root input[type="number"], .react-root input[type="password"], .react-root input[type="tel"], .react-root input[type="text"], .react-root input[type="url"], .react-root legend, .react-root li, .react-root main, .react-root nav, .react-root ol, .react-root p, .react-root pre, .react-root section, .react-root table, .react-root td, .react-root textarea, .react-root th, .react-root tr, .react-root ul {
    box-sizing: border-box;
}
.OnboardingLayout-module_contentWrapper__3lw0D {
    max-width: 1200px;
    margin: auto;
    position: relative;
    min-height: 100%;
}
.react-root .items-center {
    align-items: center;
}
.react-root .flex {
    display: flex;
}
.react-root div, .react-root li, .react-root ol, .react-root p, .react-root ul {
    font: 300 .9375rem/1.4 var(--special-font),Celias Regular,Helvetica,Arial;
}
.react-root .border-box, .react-root a, .react-root article, .react-root aside, .react-root blockquote, .react-root body, .react-root code, .react-root dd, .react-root div, .react-root dl, .react-root dt, .react-root fieldset, .react-root figcaption, .react-root figure, .react-root footer, .react-root form, .react-root h1, .react-root h2, .react-root h3, .react-root h4, .react-root h5, .react-root h6, .react-root header, .react-root html, .react-root input[type="email"], .react-root input[type="number"], .react-root input[type="password"], .react-root input[type="tel"], .react-root input[type="text"], .react-root input[type="url"], .react-root legend, .react-root li, .react-root main, .react-root nav, .react-root ol, .react-root p, .react-root pre, .react-root section, .react-root table, .react-root td, .react-root textarea, .react-root th, .react-root tr, .react-root ul {
    box-sizing: border-box;
}
.OnboardingLayout-module_logoLink__1UcqN {
    left: 4rem;
    transform: translateX(-50%);
}
.OnboardingLayout-module_logoLink__1UcqN {
    padding: 4px 8px 2px;
    border-radius: 4px;
}
.react-root a {
    color: #5841d8;
    text-decoration: none;
}
.react-root .ml-auto {
    margin-left: auto;
}
.react-root .items-center {
    align-items: center;
}
.react-root .flex {
    display: flex;
}
.react-root div, .react-root li, .react-root ol, .react-root p, .react-root ul {
    font: 300 .9375rem/1.4 var(--special-font),Celias Regular,Helvetica,Arial;
}
.react-root div, .react-root li, .react-root ol, .react-root p, .react-root ul {
    font: 300 .9375rem/1.4 var(--special-font),Celias Regular,Helvetica,Arial;
}
.react-root .border-box, .react-root a, .react-root article, .react-root aside, .react-root blockquote, .react-root body, .react-root code, .react-root dd, .react-root div, .react-root dl, .react-root dt, .react-root fieldset, .react-root figcaption, .react-root figure, .react-root footer, .react-root form, .react-root h1, .react-root h2, .react-root h3, .react-root h4, .react-root h5, .react-root h6, .react-root header, .react-root html, .react-root input[type="email"], .react-root input[type="number"], .react-root input[type="password"], .react-root input[type="tel"], .react-root input[type="text"], .react-root input[type="url"], .react-root legend, .react-root li, .react-root main, .react-root nav, .react-root ol, .react-root p, .react-root pre, .react-root section, .react-root table, .react-root td, .react-root textarea, .react-root th, .react-root tr, .react-root ul {
    box-sizing: border-box;
}
.SignupPage-module_linkFocusRight__CNF6K {
    border-radius: 4px;
    padding: .25rem .5rem .25rem 0;
}
.react-root div, .react-root li, .react-root ol, .react-root p, .react-root ul {
    font: 300 .9375rem/1.4 var(--special-font),Celias Regular,Helvetica,Arial;
}
.react-root .border-box, .react-root a, .react-root article, .react-root aside, .react-root blockquote, .react-root body, .react-root code, .react-root dd, .react-root div, .react-root dl, .react-root dt, .react-root fieldset, .react-root figcaption, .react-root figure, .react-root footer, .react-root form, .react-root h1, .react-root h2, .react-root h3, .react-root h4, .react-root h5, .react-root h6, .react-root header, .react-root html, .react-root input[type="email"], .react-root input[type="number"], .react-root input[type="password"], .react-root input[type="tel"], .react-root input[type="text"], .react-root input[type="url"], .react-root legend, .react-root li, .react-root main, .react-root nav, .react-root ol, .react-root p, .react-root pre, .react-root section, .react-root table, .react-root td, .react-root textarea, .react-root th, .react-root tr, .react-root ul {
    box-sizing: border-box;
}
.OnboardingLayout-module_contentArea__3AAiC {
    max-width: 700px;
    position: relative;
    margin-left: 74px;
}
.OnboardingLayout-module_contentArea__3AAiC {
    background: #fff;
    padding: 0 2rem;
    height: 100%;
}
.OnboardingLayout-module_scrollableArea__14s-K::after {
    content: "";
    position: absolute;
    /* background: url(/bundles/392e0db5c5845de95be6.svg) no-repeat; */
        /* background-size: auto; */
    background-size: cover;
    width: 340px;
    top: 0;
    bottom: 0;
    left: 99%;
}
.OnboardingLayout-module_scrollableArea__14s-K::before {
    content: "";
    position: absolute;
    top: -5px;
    bottom: 0;
    right: 99%;
    width: 74px;
    /* background: url(/bundles/8406fe1c4e6cfb88fa6f.svg) no-repeat 100% 0;
        background-size: auto; */
    background-size: contain;
}

.OnboardingLayout-module_scrollableArea__14s-K::before {

    content: "";
    position: absolute;
    top: -5px;
    bottom: 0;
    right: 99%;
    width: 74px;
    /* background: url(/bundles/8406fe1c4e6cfb88fa6f.svg) no-repeat 100% 0;
        background-size: auto; */
    background-size: contain;

}
.react-root div, .react-root li, .react-root ol, .react-root p, .react-root ul {
    font: 300 .9375rem/1.4 var(--special-font),Celias Regular,Helvetica,Arial;
}
.react-root .mb3 {
    margin-bottom: 1rem;
}
.starboard-root .mb3 {
    margin-bottom: 1.5rem;
}
.starboard-root .title {
    font-size: 40px;
    line-height: 1.29;
}
.starboard-root form, .starboard-root h1, .starboard-root h2, .starboard-root h3, .starboard-root h4, .starboard-root h5, .starboard-root h6, .starboard-root p {
    color: inherit;
    margin: 0;
}
.react-root .mb3 {
    margin-bottom: 1rem;
}
.starboard-root .mb3 {
    margin-bottom: 1.5rem;
}
.react-root div, .react-root li, .react-root ol, .react-root p, .react-root ul {
    font: 300 .9375rem/1.4 var(--special-font),Celias Regular,Helvetica,Arial;
}
.react-root div, .react-root li, .react-root ol, .react-root p, .react-root ul {
    font: 300 .9375rem/1.4 var(--special-font),Celias Regular,Helvetica,Arial;
}
.react-root .border-box, .react-root a, .react-root article, .react-root aside, .react-root blockquote, .react-root body, .react-root code, .react-root dd, .react-root div, .react-root dl, .react-root dt, .react-root fieldset, .react-root figcaption, .react-root figure, .react-root footer, .react-root form, .react-root h1, .react-root h2, .react-root h3, .react-root h4, .react-root h5, .react-root h6, .react-root header, .react-root html, .react-root input[type="email"], .react-root input[type="number"], .react-root input[type="password"], .react-root input[type="tel"], .react-root input[type="text"], .react-root input[type="url"], .react-root legend, .react-root li, .react-root main, .react-root nav, .react-root ol, .react-root p, .react-root pre, .react-root section, .react-root table, .react-root td, .react-root textarea, .react-root th, .react-root tr, .react-root ul {
    box-sizing: border-box;
}
.SignupForm-module_usernamePasswordFields__2qidk {
    display: flex;
    margin-bottom: 1.5rem;
}
.react-root .pointer {
    cursor: pointer;
}
.react-root .mb3 {
    margin-bottom: 1rem;
}
.react-root .relative {
    position: relative;
}
.starboard-root .mb3 {
    margin-bottom: 1.5rem;
}
.starboard-root .border-radius {
    border-radius: 4px;
}
.react-root .mb3 {
    margin-bottom: 1rem;
}
.react-root .tr {
    text-align: right;
}
.starboard-root .tr {
    text-align: right;
}
.react-root div, .react-root li, .react-root ol, .react-root p, .react-root ul {
    font: 300 .9375rem/1.4 var(--special-font),Celias Regular,Helvetica,Arial;
}
.react-root div, .react-root li, .react-root ol, .react-root p, .react-root ul {
    font: 300 .9375rem/1.4 var(--special-font),Celias Regular,Helvetica,Arial;
}
.react-root .border-box, .react-root a, .react-root article, .react-root aside, .react-root blockquote, .react-root body, .react-root code, .react-root dd, .react-root div, .react-root dl, .react-root dt, .react-root fieldset, .react-root figcaption, .react-root figure, .react-root footer, .react-root form, .react-root h1, .react-root h2, .react-root h3, .react-root h4, .react-root h5, .react-root h6, .react-root header, .react-root html, .react-root input[type="email"], .react-root input[type="number"], .react-root input[type="password"], .react-root input[type="tel"], .react-root input[type="text"], .react-root input[type="url"], .react-root legend, .react-root li, .react-root main, .react-root nav, .react-root ol, .react-root p, .react-root pre, .react-root section, .react-root table, .react-root td, .react-root textarea, .react-root th, .react-root tr, .react-root ul {
    box-sizing: border-box;
}
.SignupForm-module_accountTypeSelector__2ekCJ {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
react-root [type="button"]::-moz-focus-inner, .react-root [type="reset"]::-moz-focus-inner, .react-root [type="submit"]::-moz-focus-inner, .react-root button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
}
.starboard-root button:not(.outline) {
    outline: inherit;
}
.react-root [type="button"], .react-root [type="reset"], .react-root [type="submit"], .react-root button {
    -webkit-appearance: button;
}
.starboard-root .caption-2 {
    font-family: IBM Plex Sans Medium,Helvetica,Arial;
    letter-spacing: .1px;
}
.starboard-root .caption-1, .starboard-root .caption-2 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 1.4;
}
.starboard-root .text-brand, .starboard-root .text-h-brand:hover {
    color: #5841d8;
}
.react-root button, .react-root select {
    text-transform: none;
}
.react-root button, .react-root input {
    overflow: visible;
}
.react-root button, .react-root input, .react-root optgroup, .react-root select, .react-root textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.starboard-root button, .starboard-root input[type="reset"], .starboard-root input[type="submit"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
        font-size: inherit;
        line-height: inherit;
        font-family: inherit;
    cursor: pointer;
}
.react-root div, .react-root li, .react-root ol, .react-root p, .react-root ul {
    font: 300 .9375rem/1.4 var(--special-font),Celias Regular,Helvetica,Arial;
}
.starboard-root .title {
    font-size: 40px;
    line-height: 1.29;
}
.starboard-root .text-N600 {
    color: #242424;
}
.react-root .tl {
    text-align: left;
}
.react-root .w-100 {
    width: 100%;
}
.react-root .items-center {
    align-items: center;
}
.react-root .flex {
    display: flex;
}
.Field-module_container__2SO49:not(:focus-within).Field-module_negative__2LDT6 .Field-module_FieldItem__2qUNO {
    border-color: #e2444d;
}
.Field-module_container__2SO49 .Field-module_FieldItem__2qUNO:last-child {
    border-right: 1px solid #d6d6d6;
        border-right-color: rgb(214, 214, 214);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.Field-module_container__2SO49 .Field-module_FieldItem__2qUNO:first-child {
    border-left: 1px solid #d6d6d6;
        border-left-color: rgb(214, 214, 214);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.react-root .relative {
    position: relative;
}
.react-root .h-100 {
    height: 100%;
}
.react-root .items-center {
    align-items: center;
}
.react-root .flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}
.react-root .flex {
    display: flex;
}
.Field-module_container__2SO49 .Field-module_FieldItem__2qUNO {
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #d6d6d6;
        border-bottom-color: rgb(214, 214, 214);
        border-bottom-style: solid;
    border-top: 1px #d6d6d6;
        border-top-color: rgb(214, 214, 214);
        border-top-style: none;
    border-style: solid;
        border-right-style: solid;
        border-left-style: solid;
}
.Field-module_container__2SO49:not(:focus-within).Field-module_negative__2LDT6 .Field-module_floatingLabel__12Szv, .Field-module_container__2SO49:not(:focus-within).Field-module_negative__2LDT6 .Field-module_label__3yFpJ {
    color: #e2444d;
}
.react-root .absolute {
    position: absolute;
}
.Field-module_container__2SO49 .Field-module_input__1PIFR.Field-module_floating__BjUHH {
    border: 0;
    padding-top: calc(1px + 1.5rem);
    padding-bottom: calc(1px + .5rem);
}
.Field-module_container__2SO49 .Field-module_input__1PIFR.Field-module_FX_WWW__8FicW {
    margin-bottom: 0;
}
.react-root .w-100 {
    width: 100%;
}
.react-root .h-100 {
    height: 100%;
}
.Field-module_container__2SO49 .Field-module_input__1PIFR {
    background: 0;
    box-shadow: none;
}
.starboard-root .pl3\/2 {
    padding-left: .75rem;
}
.starboard-root .pr3\/2 {
    padding-right: .75rem;
}
.starboard-root .body-2, .starboard-root .body-3 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: .1px;
}
.react-root .tl {
    text-align: left;
}
.react-root .w-100 {
    width: 100%;
}
.react-root .items-center {
    align-items: center;
}
.react-root .flex {
    display: flex;
}
.Field-module_container__2SO49 .Field-module_FieldItem__2qUNO:last-child {
    border-right: 1px solid #d6d6d6;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.Field-module_container__2SO49 .Field-module_FieldItem__2qUNO:first-child {
    border-left: 1px solid #d6d6d6;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.react-root .relative {
    position: relative;
}
.react-root .h-100 {
    height: 100%;
}
.react-root .items-center {
    align-items: center;
}
.react-root .flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}
.react-root .flex {
    display: flex;
}
.Field-module_container__2SO49 .Field-module_FieldItem__2qUNO {
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #d6d6d6;
        border-bottom-style: solid;
    border-top: 1px #d6d6d6;
        border-top-style: none;
    border-style: solid;
        border-right-style: solid;
        border-left-style: solid;
}
.Field-module_container__2SO49.Field-module_dirty__3nvNf .Field-module_floatingLabel__12Szv, .Field-module_container__2SO49:focus-within .Field-module_floatingLabel__12Szv {
    font-family: IBM Plex Sans Medium,Helvetica,Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: .3px;
    line-height: 1.4;
    transition: font-size .1s,color .1s,transform .1s ease-in;
    transform: translate(.75rem,-.75rem);
    color: #656565;
}
.react-root .absolute {
    position: absolute;
}
.Field-module_container__2SO49 .Field-module_floatingLabel__12Szv {
    left: 0;
    transition: color .1s,transform .1s ease-out;
    transform: translateX(.75rem);
    font-family: IBM Plex Sans Medium,Helvetica,Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: .1px;
}
.starboard-root .absolute {
    position: absolute;
}
.starboard-root .text-h-N300:hover, .starboard-root .text-N300 {
    color: #898989;
}
.starboard-root input, .starboard-root label, .starboard-root textarea {
    margin-bottom: 0;
}
.Field-module_container__2SO49 .Field-module_input__1PIFR.Field-module_floating__BjUHH {
    border: 0;
    padding-top: calc(1px + 1.5rem);
    padding-bottom: calc(1px + .5rem);
}
.Field-module_container__2SO49 .Field-module_input__1PIFR.Field-module_FX_WWW__8FicW {
    margin-bottom: 0;
}
.react-root .w-100 {
    width: 100%;
}
.react-root .h-100 {
    height: 100%;
}
.react-root :active, .react-root :focus, .react-root :hover {
    outline: none;
}
.react-root div, .react-root li, .react-root ol, .react-root p, .react-root ul {
    font: 300 .9375rem/1.4 var(--special-font),Celias Regular,Helvetica,Arial;
}
.react-root .border-box, .react-root a, .react-root article, .react-root aside, .react-root blockquote, .react-root body, .react-root code, .react-root dd, .react-root div, .react-root dl, .react-root dt, .react-root fieldset, .react-root figcaption, .react-root figure, .react-root footer, .react-root form, .react-root h1, .react-root h2, .react-root h3, .react-root h4, .react-root h5, .react-root h6, .react-root header, .react-root html, .react-root input[type="email"], .react-root input[type="number"], .react-root input[type="password"], .react-root input[type="tel"], .react-root input[type="text"], .react-root input[type="url"], .react-root legend, .react-root li, .react-root main, .react-root nav, .react-root ol, .react-root p, .react-root pre, .react-root section, .react-root table, .react-root td, .react-root textarea, .react-root th, .react-root tr, .react-root ul {
    box-sizing: border-box;
}
.SignupForm-module_usernamePasswordFields__2qidk {
    display: flex;
    margin-bottom: 1.5rem;
}
.SignupForm-module_usernamePasswordFields__2qidk .SignupForm-module_usernameField__2kYML {
    margin-right: 1.5rem;
}
.SignupForm-module_usernamePasswordFields__2qidk .SignupForm-module_passwordField__yyegQ, .SignupForm-module_usernamePasswordFields__2qidk .SignupForm-module_usernameField__2kYML {
    width: 50%;
    margin-bottom: 0;
}
.react-root .pointer {
    cursor: pointer;
}
.react-root .mb3 {
    margin-bottom: 1rem;
}
.react-root .relative {
    position: relative;
}
.starboard-root .mb3 {
    margin-bottom: 1.5rem;
}
.starboard-root .border-radius {
    border-radius: 4px;
}
.starboard-root .pointer {
    cursor: pointer;
}
.starboard-root .relative {
    position: relative;
}
.react-root div, .react-root li, .react-root ol, .react-root p, .react-root ul {
    font: 300 .9375rem/1.4 var(--special-font),Celias Regular,Helvetica,Arial;
}
.react-root [type="button"]::-moz-focus-inner, .react-root [type="reset"]::-moz-focus-inner, .react-root [type="submit"]::-moz-focus-inner, .react-root button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
}
.starboard-root button:not(.outline) {
    outline: inherit;
}
.react-root .tl {
    text-align: left;
}
.react-root .relative {
    position: relative;
}
.react-root .w-100 {
    width: 100%;
}
.react-root .h-100 {
    height: 100%;
}
.react-root .items-center {
    align-items: center;
}
.react-root .flex {
    display: flex;
}
.react-root [type="button"], .react-root [type="reset"], .react-root [type="submit"], .react-root button {
    -webkit-appearance: button;
}
.starboard-root .pl3\/2 {
    padding-left: .75rem;
}
.starboard-root .pr3\/2 {
    padding-right: .75rem;
}
.starboard-root .border-radius {
    border-radius: 4px;
}
.starboard-root .border-1 {
    border: 1px solid #d6d6d6;
}
.starboard-root .caption-2 {
    font-family: IBM Plex Sans Medium,Helvetica,Arial;
    letter-spacing: .1px;
}
.starboard-root .caption-1, .starboard-root .caption-2 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 1.4;
}
.react-root .w-100 {
    width: 100%;
}
.react-root .h-100 {
    height: 100%;
}
.react-root .flex {
    display: flex;
}
.react-root .relative {
    position: relative;
}
.react-root .w-100 {
    width: 100%;
}
.react-root .h-100 {
    height: 100%;
}
.react-root .items-center {
    align-items: center;
}
.react-root .flex {
    display: flex;
}
.react-root .items-center {
    align-items: center;
}
.react-root .flex {
    display: flex;
}
.Dropdown-module_dropdown__1E-NF.Dropdown-module_dirty__JoYL3 .Dropdown-module_label__2oniX {
    font-family: IBM Plex Sans Medium,Helvetica,Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: .3px;
    line-height: 1.4;
    transition: font-size .1s,color .1s,transform .1s ease-in;
    transform: translateY(-13px);
    color: #656565;
}
.react-root .absolute {
    position: absolute;
}
.react-root .w-100 {
    width: 100%;
}
.react-root .db {
    display: block;
}
.starboard-root .body-2, .starboard-root .body-3 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: .1px;
}
.react-root .nowrap {
    white-space: nowrap;
}
.starboard-root .nowrap {
    white-space: nowrap;
}
.starboard-root * {
    box-sizing: border-box;
}
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.starboard-root .body-2, .starboard-root .body-3 {
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: .1px;
}
.starboard-root .body-2 {
    font-family: IBM Plex Sans Medium,Helvetica,Arial;
}
.react-root .items-center {
    align-items: center;
}
.react-root .flex {
    display: flex;
}
.react-root .tl {
    text-align: left;
}
.starboard-root .caption-2 {
    font-family: IBM Plex Sans Medium,Helvetica,Arial;
    letter-spacing: .1px;
}
.starboard-root .caption-1, .starboard-root .caption-2 {
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 1.4;
}
.starboard-root .tl {
    text-align: left;
}
.starboard-root .text-h-N600:hover, .starboard-root .text-N600 {
    color: #242424;
}
svg:not(:root) {

    overflow: hidden;

}
.svg-icon {

    fill: currentColor;

}
.react-root div, .react-root li, .react-root ol, .react-root p, .react-root ul {
    font: 300 .9375rem/1.4 var(--special-font),Celias Regular,Helvetica,Arial;
}
.react-root .tl {
    text-align: left;
}
.starboard-root .caption-2 {
    font-family: IBM Plex Sans Medium,Helvetica,Arial;
    letter-spacing: .1px;
}
.react-root .mb3 {
    margin-bottom: 1rem;
}
.react-root .mr1 {
    margin-right: .25rem;
}
.react-root .flex-shrink-0 {
    flex-shrink: 0;
}
.Checkbox-module_checkbox__1oJuk .Checkbox-module_checkboxWrapper__2Zls- {
    position: relative;
    display: flex;
}
svg:not(:root) {
    overflow: hidden;
}
.svg-icon {
    fill: currentColor;
}
.Checkbox-module_checkbox__1oJuk .Checkbox-module_checkboxWrapper__2Zls- input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    margin: 0;
    padding: 0;
}
.starboard-root .caption-2 {
    font-family: IBM Plex Sans Medium,Helvetica,Arial;
    letter-spacing: .1px;
}
.react-root [type="button"]::-moz-focus-inner, .react-root [type="reset"]::-moz-focus-inner, .react-root [type="submit"]::-moz-focus-inner, .react-root button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
}
[data-js-focus-visible] .Button-module_button__wXbPI .Button-module_focusRing__qT6o8 {
    border-radius: 5px;
    margin: -2px;
    border: 1px solid transparent;
}
[data-js-focus-visible] .Button-module_button__wXbPI .Button-module_spacer__rMVgk {
    border: 1px solid transparent;
    border-radius: 4px;
}
.Button-module_button__wXbPI.Button-module_primary__2X85A.Button-module_disabled__2L0Bi .Button-module_buttonInner__21spx, .Button-module_button__wXbPI.Button-module_primary__2X85A:disabled .Button-module_buttonInner__21spx, .Button-module_button__wXbPI.Button-module_primary__2X85A[disabled] .Button-module_buttonInner__21spx {
    background: #ded9f7 !important;
}
.Button-module_button__wXbPI.Button-module_primary__2X85A .Button-module_buttonInner__21spx {
    background: #2824b6;
    border: none;
    color: #fff;
}
.Button-module_button__wXbPI.Button-module_large__2Pnjc .Button-module_buttonInner__21spx {
    font-family: IBM Plex Sans Bold,Helvetica,Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: .1px;
    padding: .75rem !important;
    height: 3rem;
}
.Button-module_button__wXbPI .Button-module_buttonInner__21spx {
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: background .25s ease-in-out,border .25s ease-in-out; */
    min-width: 180px;
    border-radius: 4px;
}
[data-js-focus-visible] .Button-module_button__wXbPI .Button-module_focusRing__qT6o8 {
    border-radius: 5px;
    margin: -2px;
    border: 1px solid transparent;
}
[data-js-focus-visible] .Button-module_button__wXbPI .Button-module_spacer__rMVgk {
    border: 1px solid transparent;
    border-radius: 4px;
}
.Button-module_button__wXbPI.Button-module_primary__2X85A:disabled .Button-module_buttonInner__21spx, .Button-module_button__wXbPI.Button-module_primary__2X85A[disabled] .Button-module_buttonInner__21spx {
    background: #ded9f7 !important;
}
.Button-module_button__wXbPI.Button-module_primary__2X85A .Button-module_buttonInner__21spx {
    background: #2824b6;
    border: none;
    color: #fff;
}